<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!--<script src="helper.js"></script>-->
	<script type="text/javascript" src="{{ url_for('static', filename='cart.js') }}" async></script>

	<!-- personal style sheet -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	
<!--<script src="jquery.js"></script> 
    <script> 
    $(function(){
      $("#includedContent").load("{{ url_for('static', filename='cart.html') }}"); 
    });
    </script> -->

<style>
	table {
 		width: 100%;
		align: left;
	}

	td, th {
  		text-align: left;
		padding: 15px;
		align: left;
	}

	tr:nth-child(even) {
 	 	background-color: #dddddd;
	}

</style>
</head>

<title>CalcuLateMeal</title>

<body>
	<header class="container-fluid fixed-top">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-right: 5vw; padding-left: 5vw;">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><img src = "title.png" style = "width: 13rem"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/index">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/info">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/favorites">Popular</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/">Meal Time</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

			<form class="searchbutton" style = "position: absolute; width: 100%; left: 0; background-color: #fafafa;" action="action_page.php">
				<div class = "row padding-0" style="padding-top:2rem;">

					<div class = "col-1 "></div>
					<div class = "col-9 padding-0">
						<div class="searchbar">
							<input type="text" id="itemsearch" class="form-control" placeholder="Search...">
						</div>
					</div>

					<div class = "col-1 " style="display: inline-block; padding-top: 2rem; padding-left: 0rem; padding-right:1rem;">
						<button type="submit" onclick="return handleSearchItem();"><i class="fa fa-search"></i></button>
					</div>
				</div>

			</form>


	</header>

	<!-- submission functions -->
	<script>
		function handleSearchItem() {
			var query = document.getElementById('itemsearch').value;
			window.location.href = "/search/item/" + query;
			return false;
		}
	</script>

	
	<section class="page-container" >




	<!-- display results !-->
	{% if resultList %}
		<!--<script>handleResults(resultList);</script>-->
		<h5><table class="shop-items" id="shop-items">{{ resultList }}</table>	</h5>
	{% else %}
		<h3>No results found.</h3>
	{% endif %}

	</section>

<script>
includeHTML();
</script>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script> 
$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("fast");
  });
});
</script>
	
<!-- calculator -->
<footer>
<table style="position:fixed;bottom:0;overflow:auto;table-layout:fixed;width=100%;max-height:150px;" frame="hsides">
		<tr id ="flip" bgcolor="#eceff1"> 
			<th colspan=3 width="100%" align="right"> 
				<h6>TOTAL</h6>
				<!-- money left -->
				{% if surplus %}
					<font color="green" size="4">{{ resultList3 }}</font>
					<br><font size="1">{{ surplus }} remaining</font>
				{% endif %}
				<!-- money over -->
				{% if diffOver %}
					<font color="red" size="4">{{ resultList3 }}</font>
					<br><font size="1">{{ diffOver }} over</font>
				{% endif %}
			</th>
		</tr>
		<tr class="set-height" id = "panel" bgcolor="#eceff1" style="display:none; max-height:150px; text-align:top">
			<td bgcolor="#343a40" style= "vertical-align: top; color: white; font-weight: 700;"> 
				<h6>YOUR CART</h6>
				  <div style="overflow-y:scroll;max-height:150px;">
					{% if resultList2 %}
					   {{ resultList2 }}
					{% endif %}			
				   </div>
			</td>
			<td bgcolor="#343a40" style= "vertical-align: top; color: white; font-weight: 700;">
				<h6>SUGGESTED</h6>
				<div style="overflow-y:scroll;max-height:150px;">
					{% if resultList4 %}
						{{ resultList4 }}
					{% endif %}
				</div>
			</td>
			<td bgcolor="#343a40" style= "vertical-align: top; color: white; font-weight: 700;">
				<h6>CHECKOUT</h6>
				<button class="btn-primary" style="border-radius: .5rem" type="button" onclick="window.location='/checkout';"><i class="fa fa-shopping-cart"></i> Ready to Pay</button>
			</td>
		</tr>
	</table>
</footer>
<!-- shopping cart-->	

</body>
</html>
