<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!--<script src="helper.js"></script>!-->
	<script type="text/javascript" src="{{ url_for('static', filename='cart.js') }}"></script>

	<!-- personal style sheet -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
<style>
	table {
 		width: 100%;
		align: left;
	}
	td, th {
  		text-align: left;
		padding: 15px;
		align: left;
	}
	tr:nth-child(even) {
 	 	background-color: #dddddd;
	}
</style>
	
<script> 
$(document).ready(function(){
  $("#flip").click(function(){
	  if ($("#panel").is(":visible")) {
		  $("#my_image").attr("src","{{ url_for('static',filename='up.png') }}");
		  $("#panel").slideUp({duration: 100, queue: false});
	  }
	  else {
		  $("#panel").slideDown({duration: 10, queue: false});
		  $("#my_image").attr("src","{{ url_for('static',filename='down.png') }}");
	  }
	  //$("#panel").slideToggle("fast");
	  //var images = $("#my_image").attr(src);
  });
});
</script>

</head>
	

<title>CalcuLateMeal</title>

<body>
	<header class="container-fluid fixed-top">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-right: 5vw; padding-left: 5vw;">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><img src = "title.png" style = "width: 13rem"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/index">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/info">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/favorites">Popular</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/install">Install</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/">Meal Time</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>



			<form class="searchbutton" style = "position: absolute; width: 100%; left: 0; background-color: #fafafa;" action="action_page.php">
				<div class = "row padding-0" style="padding-top:2rem;">
					<div class = "col-1"></div>

					<div class = "col-9 padding-0">
						<div class="searchbar">
							<input type="text" id="itemsearch" class="form-control" placeholder="Search...">
						</div>
					</div>

					<div class = "col-1 " style="display: inline-block; padding-top: 2rem; padding-left: 0rem; padding-right:1rem;">
						<button type="submit" onclick="return handleSearchItem();"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</form>

	</header>


	<!-- submission functions -->
	<script>
		function handleSearchItem() {
			var query = document.getElementById('itemsearch').value;
			window.location.href = "/search/item/" + query;
			return false;
		}
		function handleSearchCategory(category) {
			// var category = this.getAttribute('data-category');
			window.location.href = "/search/category/" + category;
			return false;
		}
		function checkout() {
		     if(confirm("Ready to check out? Clicking OK will clear all items from the cart.")) {
		     window.location='/checkout';
	     	}
	     else {
		     window.location='/favorites';
	     }
	     }
	</script>


<!-- scroll of categories
	can just replace action_page.php with the url -->
<svg class = "map-test" id="Layer 1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1280 989.09"><image width="3300" height="2550" transform="translate(0 0) scale(0.39)" xlink:href="fristgallery.png"/>
		<g>
			<a xlink:href="/search/category/grabngo" xlink:title = "Grab 'N Go"> 
				<rect x="500" y="170" fill="#fff30" opacity="0" width="285" height="100" />
			</a>
			<a xlink:href="/search/category/delicatessen" xlink:title = "Delicatessen">
				<rect x="80" y="170" fill="#fff30" opacity="0" width="350" height="100" />
			</a>
			<a xlink:href="/search/category/bowls" xlink:title = "Bowls">
				<rect x="857" y="170" fill="#fff30" opacity="0" width="350" height="100" />
			</a>
			<a xlink:href="/search/category/beverage" xlink:title = "Beverages">
				<rect x="420" y="435" fill="#fff30" opacity="0" width="445" height="100" />
			</a>
			<a xlink:href="/search/category/salad" xlink:title = "Salad">
				<rect x="30" y="260" fill="#fff30" opacity="0" width="100" height="239" />
			</a>
			<a xlink:href="/search/category/pizza" xlink:title = "Pizza">
				<rect x="30" y="500" fill="#fff30" opacity="0" width="100" height="239" />
			</a>
			<a xlink:href="/search/category/bakery" xlink:title = "Bakery">
				<rect x="860" y="520" fill="#fff30" opacity="0" width="100" height="200" />
			</a>
			<a xlink:href="/search/category/grill" xlink:title = "Grill">
				<rect x="1150" y="260" fill="#fff30" opacity="0" width="100" height="480" />
			</a>

			<a xlink:href="/search/category/miscellaneous" xlink:title="Ice Cream">
				<rect x="198" y="720" fill="#fff30" opacity="0" width="80" height="200" />
			</a>

			<a xlink:href="/search/category/miscellaneous" xlink:title="Fruits">
				<rect x="350" y="720" fill="#fff30" opacity="0" width="80" height="200" />
			</a>
			<a xlink:href="/search/category/miscellaneous" xlink:title="Chips">
				<rect x="450" y="170" fill="#fff30" opacity="0" width="50" height="65" />
			</a>
			<a xlink:href="/search/category/miscellaneous" xlink:title="Chips">
				<rect x="785" y="170" fill="#fff30" opacity="0" width="54" height="65" />
			</a>

			<a xlink:href="/search/category/miscellaneous" xlink:title="Veggies">
				<rect x="860" y="720" fill="#fff30" opacity="0" width="80" height="200" />
			</a>

			<a xlink:href="/search/category/miscellaneous" xlink:title="Cereal">
				<rect x="1010" y="720" fill="#fff30" opacity="0" width="80" height="200" />
			</a>
			
			<a xlink:href="/search/category/unicorn" xlink:title="shhhhhh">
				<rect x="582" y="737" fill="#fff30" opacity="0" width="5" height="5" />
			</a>

		</g>


	</svg>


<!-- calculator -->
<footer>
<table style="position:fixed;bottom:0;overflow:auto;table-layout:fixed;width=100%;max-height:150px;" frame="hsides">
		<tr id ="flip" bgcolor="#343a40"> 
			<th colspan=3 align="right" style="color: white; vertical-align: top;"> 
				<div style = "font-size: 1.25rem; font-weight: 600;">TOTAL</div>
				<!-- money left -->
				{% if surplus %}
					<font color="#64dd17" size="5">{{ resultList3 }}</font>
					<br><font size="1">{{ surplus }} remaining</font>
				<!-- money over -->
				{% elif diffOver %}
					<font color="red" size="5">{{ resultList3 }}</font>
					<br><font size="1">{{ diffOver }} over</font>
				{% else %}
					<font color="#64dd17" size="5">$0.00</font>
					<br><font size ="1"><span id="timeBalance"></p> remaining</font>
				<script>
				    var time = new Date()
				    if (time.getHours() * 60 + time.getMinutes() <= 945) { // lunch time
					document.getElementById("timeBalance").innerHTML = "$6.00"
				    }
				    else { // dinner time
					document.getElementById("timeBalance").innerHTML = "$7.00"
				    }
				</script>
				{% endif %}
			</th>
			<th colspan=2 style="text-align:center; vertical-align: top; padding-top: 10px; color: white;">
				<img id="my_image" style="width:25px" src="{{ url_for('static',filename='up.png') }}" />
			</th>
			<th colspan=3 text-align="right" bgcolor="#343a40" style= "padding-right:18px; text-align:right; vertical-align: top; color: white;">
				<button class="btn-primary" style="font-size: .8rem; font-weight: 600; border-radius: .5rem; align:right; padding: 5px;" type="button" onclick="checkout();"><i class="fa fa-shopping-cart"></i> CLEAR CART</button>
			</th>
		</tr>
		<tr class="set-height" id = "panel" bgcolor="#eceff1" style="display:none; max-height:150px; text-align:top">
			<td colspan=4 bgcolor="#343a40" style= "vertical-align: top; color: white; border-right: 1px solid grey;"> 
				<div style = "font-size: 1rem; font-weight: 700;">YOUR CART</div>
				  <div style="overflow-y:scroll;max-height:150px;">
					{% if resultList2 %}
					   {{ resultList2 }}
					{% endif %}			
				   </div>
			</td>
			<td colspan=4 bgcolor="#343a40" style= "vertical-align: top; color: white; border-right: 1px solid grey;">
				<div style = "font-size: 1rem; font-weight: 700;">SUGGESTED</div>
				<div style="overflow-y:scroll;max-height:150px;">
					{% if resultList4 %}
						{{ resultList4 }}
					{% endif %}
				</div>
			</td>
		</tr>
	</table>
</footer>
<!-- shopping cart-->

</body>
</html>
