

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script src="helper.js"></script>

	<!-- personal style sheet -->
	<link rel="stylesheet" href="styles.css">

	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
	<header class="fixed-top">
		<div class = "container-fluid title">CalcuLateMeal</div>
		<div class="topnav">  
			<a class="active" href="file:///Users/ninahe/Desktop/COS333/FINAL%20PROJECT/index.html">HOME</a>
			<a href="file:///Users/ninahe/Desktop/COS333/FINAL%20PROJECT/info.html">INFO</a>
			<a href="file:///Users/ninahe/Desktop/COS333/FINAL%20PROJECT/favorites.html">FAVORITES</a>
			<a href="file:///Users/ninahe/Desktop/COS333/FINAL%20PROJECT/contact.html">CONTACT</a>
		</div>


		<!-- search bar + button -->
		<form class="searchbutton" action="action_page.php">
			<div class = "row" style = "padding-right: 35px; padding-left: 35px;">
				<div class = "col-1 "></div>
				<div class = "col-9 padding-0">   	
					<div class="searchbar">
						<input type="text" class="form-control form-rounded" placeholder="Search...">
					</div>
				</div>
				<div class = "col-1 " style="display: inline-block; padding-top: 30px; padding-left: 10px;">
					<button type="submit"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>
	</header>


<!-- scroll of categories
	can just replace action_page.php with the url -->
	<section class="items-scroll-y category-scrollbar" >
		<div class = "row row-margin">
			<div class="col padding-0">
				<div class =  containercategory>
					<form class="categorybutton" action="file:///Users/ninahe/Desktop/COS333/FINAL%20PROJECT/category1.html">
						<button type="submit">
							<img src="/burger.jpg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<a class="categorytext">Burgers</a>
							</div>
						</button>
					</form>
				</div>
			</div>

			<div class="col padding-0">
				<div class = "containercategory">
					<form class="categorybutton" action="action_page.php">
						<button type="submit">
							<img src="/drinks.jpg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<a class="categorytext">Drinks</a>
							</div>
						</button>
					</form>
				</div>
			</div>
		</div>

		<div class = "row row-margin">
			<div class="col padding-0">
				<div class =  containercategory>
					<form class="categorybutton" action="action_page.php">
						<button type="submit">
							<img src="/fruit.jpg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<a class="categorytext">Fruit</a>
							</div>
						</button>
					</form>
				</div>
			</div>
			<div class="col padding-0">
				<div class =  containercategory>
					<form class="categorybutton" action="action_page.php">
						<button type="submit">
							<img src="/salad.jpg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<a class="categorytext">Salad</a>
							</div>
						</button>
					</form>
				</div>
			</div>
		</div>

		<div class = "row row-margin">
			<div class="col padding-0">
				<div class =  containercategory>
					<form class="categorybutton" action="action_page.php">
						<button type="submit">
							<img src="/sandwhich.jpg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<a class="categorytext">Sandwiches</a>
							</div>
						</button>
					</form>
				</div>
			</div>
			<div class="col padding-0">
				<div class =  containercategory>
					<form class="categorybutton" action="action_page.php">
						<button type="submit">
							<img src="/soup.jpg" alt="Avatar" class="image" style="width:100%">
							<div class="middle">
								<a class="categorytext">Soup</a>
							</div>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>


	<!-- calculator -->
	<footer>
		<div class = "row fixed-bottom" style="height:100px"> 
			<div class = "col-9" style = "padding-right:0;background-color: #eceff1; padding-top: 5px; border-right: solid 2px;" >
				<div class="calculator-scroll">
					<div class="cart-items"></div>
				</div>
			</div>


			<div class = "col-3" style = "padding-left:0; background-color: #eceff1; text-align: center; padding-top: 10px;">
				<h6>TOTAL</h6>
				<div class = "cart-total-price">$0</div>
			</div>
		</div>
	</footer>


	<!-- shopping cart-->

</body>
</html>
