<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!--<script src="helper.js"></script>!-->
	<script type="text/javascript" src="{{ url_for('static', filename='cart.js') }}"></script>

	<!-- personal style sheet -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<title>CalcuLateMeal</title>

<body>
	<header class="container-fluid fixed-top">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding-right: 5vw; padding-left: 5vw;">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><img src = "title.png" style = "width: 13rem"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="index">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="info">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="favorites">Popular</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="install">Install</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/">Meal Time</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		

	</header>


<!-- scroll of categories
	can just replace action_page.php with the url -->
	<section class="page-container" >

        	<div style = "text-align: center" >
               		<div class = "header"> Install on iOS </div>
		    
		    	<table cellspacing = 10 class = "shop-items">
			    <tr>
				    <td><img style="display:block; width:100%; border-radius:2.5%" src = "Step1.jpg"></td> 
				    <td><img style="display:block; width:100%; border-radius:2.5%" src = "Step2.jpg"></td>  
				    <td><img style="display:block; width:100%; border-radius:2.5%" src = "Step3.jpg"></td>  
				    <td><img style="display:block; width:100%; border-radius:2.5%" src = "Step4.jpg"></td>   
			    </tr>
		   	 </table>
    
                	<br></br>
               		<div class = "header"> Install on Android </div>
	     	</div>


	</section>


<!-- calculator -->
<footer>

</footer>


<!-- shopping cart-->

</body>
</html>
