<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- personal style sheet -->
  <!--<link rel= "stylesheet" type= "text/css" href= "style.css"> -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">


</head>

<body class = "bg">
	<title>CalcuLateMeal</title>
	<div>
		<img src = "title.png" style="padding-top: 60px;  width: 90%; margin-left:auto; margin-right:auto; display: block; position:relative;">
		<div style="text-align: center; color: white; font-weight:200; font-size: 12px;font-style:italic; padding-left: 40px; padding-right: 40px;">Welcome to Princeton's Late Meal Calculator. To begin, choose a meal time. </div>
	</div>
	<div class="radio-toolbar" style="text-align: center; vertical-align: middle">
		<input type="radio" id="radioLunch" name="radioTime" value="lunch" style="vertical-align: middle">
		<label for="radioLunch">Lunch</label>

		<input type="radio" id="radioDinner" name="radioTime" value="dinner" style="vertical-align: middle">
		<label for="radioDinner">Dinner</label>
	</div>
	<script>
		var hour = new Date().getHours();
		if (hour < 17)
			document.getElementById("radioLunch").checked = true;
		else
			document.getElementById("radioDinner").checked = true;
	</script>

	<div class="container" style="text-align: center; vertical-align: middle">
		<button class="go-btn" onclick="clickFunction()" >GO</button>
	</div>
	<script>
		function clickFunction() {
			var radios = document.getElementsByName('radioTime');
			for (var i = 0, length = radios.length; i < length; i++) {
				if (radios[i].checked)
				{
					window.location.href='/dinner';
				}
				else
				{
					window.location.href='/lunch';
				}
			}
		}
	</script>
<!--
<div class = "container">
	<img class="img-responsive" src="cookie.jpg" alt="Background" width="460" height="345">
</div>
-->

</body>
</html>
