<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- personal style sheet -->
  <!--<link rel= "stylesheet" type= "text/css" href= "style.css"> -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	

</head>

<body class = "bg">
	<title>CalcuLateMeal</title>
	<div>
		<img src = "title.png" style="padding-top: 60px;  width: 90%; margin-left:auto; margin-right:auto; display: block; position:relative;">
		<div style="text-align: center; color: white; font-weight:200; font-size: 12px;font-style:italic; padding-left: 40px; padding-right: 40px;">
			Welcome to Princeton's Late Meal Calculator. <div id = "isClosed">To begin, choose a meal time.</div>
		</div>
		<div>Time Before Next Late Meal: <p id="demo"></p></div>
	</div>
	<div class="radio-toolbar" style="padding-top: 8vh; text-align: center; vertical-align: middle">
		<input type="radio" id="radioLunch" name="radioTime" value="lunch" style="vertical-align: middle" onclick="window.location.href='/lunch'">
		<label for="radioLunch">Lunch</label>

		<input type="radio" id="radioDinner" name="radioTime" value="dinner" style="vertical-align: middle" onclick="window.location.href='/dinner'">
		<label for="radioDinner">Dinner</label>
	</div>
	<script>
	var hour = new Date().getHours();
	var min = new Date().getMinutes();
	var day = new Date().getDay();
	var time = hour * 60 + min;
	if (time >= 840 && time <= 945 && (day == 1 || day == 2 || day == 3 || day == 4 || day == 5))
		document.getElementById("radioLunch").checked = true;
	else if (time >= 1230 && time <= 1320 && (day == 1 || day == 2 || day == 3 || day == 4))
		document.getElementById("radioDinner").checked = true;
	else 
		document.getElementById("isClosed").innerHTML = "Late Meal is currently closed, but you may still choose a meal time to browse items.";

	</script>
	
	
<script>
		
	var x = setInterval(function() {
		var goalTime;
		var currentDate = new Date();
		var yrs = currentDate.getFullYear();
		var mo = currentDate.getMonth();
		var day = currentDate.getDay();
		var hours = currentDate.getHours();
		var mins = currentDate.getMinutes();
		var date = currentDate.getDate();
		switch(day) {
			case 1: 
			case 2:
			case 3:
			case 4:
				if (hours * 60 + mins < 840) // before lunch
					goalTime = new Date(yrs, mo, date, 14); // 2pm
				else if (hours * 60  + mins < 1230) // before dinner
					goalTime = new Date(yrs, mo, date, 20,30); // 8:30pm
                else if (hours * 60 + mins > 1320) // late meal ends for the day
                	goalTime = new Date(yrs, mo, date, 38);
				break;
			case 5: // friday
				if (hours * 60 + mins < 840) // before lunch
					goalTime = new Date(yrs, mo, date, 14); // 2pm
				else if (hours * 60  + mins > 945) // after lunch
					goalTime = new Date(yrs, mo, date, 86); // monday at 2pm
				break;
			case 0: // sunday
            	goalTime = new Date(yrs, mo, date, 38); // monday at 2pm
                break;
			case 6:
				goalTime = new Date(yrs, mo, date, 62);	// monday at 2pm	
                break;
		}
	    var distance = goalTime.getTime() - currentDate.getTime();
       	    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  	    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  	    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    		document.getElementById("demo").innerHTML = days + " days " + hours + " hrs " + minutes + " min " + seconds + " sec ";
		//+ "goal time: " + goalTime.toLocaleDateString() + " " + goalTime.getHours() + ":" + goalTime.getMinutes() 
			//" current time: " + currentDate.toLocaleDateString() + " " + currentDate.getHours() + ":" + currentDate.getMinutes();
            
            if (distance <= 0) {
              clearInterval(x);
              document.getElementById("demo").innerHTML = "";
            }
	
	}, 1000);
	</script>
	
	<!--
	<div class="container" style="text-align: center; vertical-align: middle">
		<button class="go-btn" onclick="clickFunction()" >GO</button>
	</div>
	<script>
		function clickFunction() {
			var radios = document.getElementsByName('radioTime');
			for (var i = 0, length = radios.length; i < length; i++) {
				if (radios[i].checked)
				{
					window.location.href='/dinner';
				}
				else
				{
					window.location.href='/lunch';
				}
			}
		}
	</script>-->
<!--
<div class = "container">
	<img class="img-responsive" src="cookie.jpg" alt="Background" width="460" height="345">
</div>
-->

</body>
</html>
