<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- personal style sheet -->
  <link rel= "stylesheet" type= "text/css" href= "style.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Karma" rel="stylesheet">


</head>

<body>
	<title>CalcuLateMeal</title>
	<form class="btn">
        <button type="button" onclick="window.location.href='/lunch'">
            Lunch
        </button>
    </form>
    <form class="btn">
        <button type="button" onclick="window.location.href='/dinner'">
            Dinner
        </button>
    </form>
<!--
<div class = "container">
	<img class="img-responsive" src="cookie.jpg" alt="Background" width="460" height="345">
</div>
-->

</body>
</html>
